<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kyrostechnologies.thirunavukkarasu.pixels">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:name=".servicehandler.ServiceHandler"
        android:allowBackup="true"
        android:icon="@mipmap/pixel_launcher"

        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.Splash_Screen_Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Login_Activity"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Video_Activity"
            android:label="Videos"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.PlayVideoActivity"
            android:label="Play Video"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.Picture_Fullscreen" />
        <activity android:name=".activity.AboutUs" />
        <activity
            android:name=".activity.MeMe"
            android:label="MeMes" />
        <activity
            android:name=".activity.MangaActivity"
            android:label="Manga List"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MangaDescriptionActivity"
            android:label="Manga Description"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.MangaReadingActivity" />
        <activity
            android:name=".activity.MyAnimeListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".activity.AnimeDescriptionActivity" />
        <activity android:name=".activity.AnimeListActivity" />
        <activity android:name=".activity.PlayAnimeActivity" />
        <activity android:name=".TestingActivity"
            ></activity>
    </application>

</manifest>